<div id="container_main">
    <section id="wrapper_hero" class="section_page">
      <div>
        <img id="profile" src="../../assets/myimg.jpeg" alt="">
      </div>
      <div>
        <h1 id="username">Vijayabalaji</h1>
        <h2 id="bio">Cloud Engineer | <span style="color: var(--mainLinkColor);">Brillio</span></h2>
        <h3 id="bio">I'm a passionate tech enthusiast who loves building sofware, exploring cloud technologies, indulging in music, and constantly seeking to expand my knowledge and embrace new tech innovations.</h3>
        <h4 id="email">jvijayabalaji03082002@gmail.com</h4>
      </div>
    </section>
    <section class="section_page">
      <div id="social_list">
        <a href="https://www.linkedin.com/in/vijayabalaji-j-4b8a731b1" target="_blank">Linkedin</a>
        <a href="https://github.com/vijayabalaji-dev/" target="_blank">Github</a>
        <a href="../../assets/resume_vj.pdf" target="_blank">Resume</a>
      </div>
    </section>
    <section class="section_page">
      <h2>Skills & Qulifications</h2>
      <ul id="Qualification_list">
        <li>✅One Year experience with Cloud</li>
        <li>✅One Year experience with Angular</li>
        <li>✅Expertise in Full Stack Web Developement | Front End </li>
        <li>✅Extensive knowledge on AWS and GCP</li>
        
      </ul>
    </section>
  
    <section class="section_page">
      <h2>Tech Stack</h2>
      <div id="wrapper_tech">
        <div class="card">
          <span>AWS</span>
        </div>
        <div class="card">
          <span>Angular</span>
        </div>
        <div class="card">
          <span>GCP</span>
        </div>
        <div class="card">
            <span>Python</span>
          </div>
          <div class="card">
            <span>Mysql</span>
          </div>
          <div class="card">
            <span>Terraform</span>
          </div>
          <div class="card">
            <span>Git&GitHub</span>
          </div>
      </div>
    </section>
  
    <section class="section_page" id="work">
      <h2>Work History</h2>
      <div class="line"></div>
      <div class="work_card">
        <strong>Cloud Engineer | Brillio</strong>
        <p>18/07/2022 - Present</p>
        <ul>
          <li>Created infrastructure components on both GCP and AWS</li>
          <li>Developed terraform script to automate various components</li>
          <li>Monitored and performed health checks on sap applications hosted on AWS cloud</li>
          <li>Created cloud watch alarm to monitor health of EC2 instances </li>
          <li>Worked on Linux file system and lvm</li>
          <li>Imporved security by running security assessments on AWS accounts using tools Prowler and scout suit</li>
          <li>Created software to manage beanch resources using lamp stack and hosted on GCP</li>
        </ul>
      </div>
      <div class="line"></div>
      <div class="work_card">
        <strong>Front End Developer | Loyola College | Internship</strong>
        <p>16/06/2021 - 28/05/2022</p>
        <ul>
          <li>Developed various components of applications using angular</li>
          <li>Implemented rest api integration using services </li>
          <li>Integrated js libraries like jQuery, Admin LTE.... with Angular</li>
          <li>Implemented lazy loading for performance improvement.</li>
          <li>Increased security of application using auth guards</li>
        </ul>
      </div>
      <div class="line"></div>
    </section>
  
    <div class="section_page">
      <h2>Certifications</h2>
      <div class="project_card">
        <div>AWS Cloud Practitioner</div>
      </div>
  
      <div class="project_card">
        <div>Hashicorp Terraform Associate</div>
      </div>
  
      <div class="project_card">
        <div>Google Certified Associate Cloud Engineer</div>
      </div>
    </div>
    <section class="section_page">
      <h2>Awards</h2>

      <div class="project_card">
        <p>Brillio Special Award on Winning GCP Quiz</p>
      </div>

      <div class="project_card">
        <p>Bringing Smiles Star Volunteer</p>
      </div>

    </section>

    <section class="section_page">
        <h2>Education</h2>
        <div class="line"></div>
        <br>
        <table id="table">
            <tr>
                <th>Institution Name</th>
                <th>Course</th>
                <th>Percentage</th>
            </tr>
            <tr>
                <td class="bold">Loyola College | (Chennai)</td>
                <td >B.Sc. Computer Science</td>
                <td>91</td>
            </tr>
            <tr>
                <td class="bold">Montfort Higher Secondary School</td>
                <td>HSC</td>
                <td>78</td>
            </tr>
            <tr>
                <td class="bold">St.John's Matriculation higher secondary school</td>
                <td>SSLC</td>
                <td>91</td>
            </tr>
        </table>
    </section>

    <section class="section_page">
        <h2>Courses Completed</h2>
        <div class="line"></div>
        <ul id="Qualification_list">
            <li><span style="color: yellow;">&#10036;</span> 100 Days Of Python</li>
            <li><span style="color: yellow;">&#10036;</span> Angular - Complete Beginner's Guide 2023</li>
            <li><span style="color: yellow;">&#10036;</span> Programming Foundations with Javascript, HTML and CSS</li>
            <li><span style="color: yellow;">&#10036;</span> Introduction to CSS3</li>
          </ul>
    </section>
  </div>